In [13]:
import numpy as np
import pandas as pd
import requests 
from bs4 import BeautifulSoup

In [24]:
post_codes_ca_url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(post_codes_ca_url,'lxml')

In [25]:
codes_list=[]
borough_list=[]
neighborhood_list=[]
i=1
for tag in soup.table.find_all('td'):
    if i == 1:
        codes_list.append(tag.text)
    if i == 2:
        borough_list.append(tag.text)
    if i == 3: 
        neighborhood_list.append(tag.text)
    i = i+1
    if i==4:
        i=1

In [26]:
toronto_df = pd.DataFrame(columns=['Postalcode','Borough','Neighborhood'])
toronto_df['Postalcode'] = codes_list
toronto_df['Borough'] = borough_list
toronto_df['Neighborhood'] = neighborhood_list
toronto_df

    Postalcode           Borough             Neighborhood
0          M1A      Not assigned           Not assigned\n
1          M2A      Not assigned           Not assigned\n
2          M3A        North York              Parkwoods\n
3          M4A        North York       Victoria Village\n
4          M5A  Downtown Toronto           Harbourfront\n
..         ...               ...                      ...
282        M8Z         Etobicoke              Mimico NW\n
283        M8Z         Etobicoke     The Queensway West\n
284        M8Z         Etobicoke  Royal York South West\n
285        M8Z         Etobicoke         South of Bloor\n
286        M9Z      Not assigned           Not assigned\n

[287 rows x 3 columns]

In [27]:
for data in range(len(neighborhoods)):
    code = postalCodes[data]
    borough = boroughs[data]
    neighborhood_name = neighborhoods[data]

    neighbors = neighbors.append({ 'PostalCode': code,
                                   'Borough': borough,
                                   'Neighborhood': neighborhood_name}, ignore_index=True)

In [28]:
indexs = toronto_df[toronto_df['Borough']=="Not assigned"].index
indexs

Int64Index([  0,   1,   8,  12,  19,  20,  29,  35,  36,  44,  45,  49,  50,
             51,  53,  54,  58,  59,  60,  72,  73,  74,  87,  88,  89, 103,
            104, 105, 119, 120, 135, 136, 147, 148, 154, 160, 161, 166, 174,
            180, 181, 187, 188, 189, 193, 194, 200, 201, 202, 203, 208, 209,
            222, 223, 236, 237, 240, 241, 246, 247, 252, 253, 257, 258, 259,
            260, 262, 263, 273, 274, 275, 276, 277, 278, 279, 280, 286],
           dtype='int64')

In [29]:
toronto_df.drop(toronto_df.index[indexs], inplace=True)

In [30]:
toronto_df['Neighborhood'] = toronto_df.Neighborhood.str.replace("\n","")
toronto_df = toronto_df.reset_index(drop=True)
toronto_df

    Postalcode           Borough              Neighborhood
0          M3A        North York                 Parkwoods
1          M4A        North York          Victoria Village
2          M5A  Downtown Toronto              Harbourfront
3          M6A        North York          Lawrence Heights
4          M6A        North York            Lawrence Manor
..         ...               ...                       ...
205        M8Z         Etobicoke  Kingsway Park South West
206        M8Z         Etobicoke                 Mimico NW
207        M8Z         Etobicoke        The Queensway West
208        M8Z         Etobicoke     Royal York South West
209        M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

In [31]:
indexs_nb = toronto_df[toronto_df['Neighborhood']=="Not assigned"].index
indexs_nb

Int64Index([5], dtype='int64')

In [32]:
for i in range(210):
    if toronto_df.Neighborhood[i]=='Not assigned':
        toronto_df.Neighborhood[i] = toronto_df.Borough[i]

In [35]:
toronto_df_Final = toronto_df.groupby(['Postalcode','Borough'])['Neighborhood'].apply(','.join).reset_index()
toronto_df_Final.shape

(103, 3)

In [38]:
toronto_df_Final

    Postalcode      Borough                                       Neighborhood
0          M1B  Scarborough                                      Rouge,Malvern
1          M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2          M1E  Scarborough                    Guildwood,Morningside,West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101        M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102        M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]