In [1]:
import numpy as np
import pandas as pd
import requests 
from bs4 import BeautifulSoup

In [2]:
post_codes_ca_url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(post_codes_ca_url,'lxml')

In [3]:
codes_list=[]
borough_list=[]
neighborhood_list=[]
i=1
for tag in soup.table.find_all('td'):
    if i == 1:
        codes_list.append(tag.text)
    if i == 2:
        borough_list.append(tag.text)
    if i == 3: 
        neighborhood_list.append(tag.text)
    i = i+1
    if i==4:
        i=1

In [4]:
toronto_df = pd.DataFrame(columns=['Postalcode','Borough','Neighborhood'])
toronto_df['Postalcode'] = codes_list
toronto_df['Borough'] = borough_list
toronto_df['Neighborhood'] = neighborhood_list
toronto_df

    Postalcode           Borough             Neighborhood
0          M1A      Not assigned           Not assigned\n
1          M2A      Not assigned           Not assigned\n
2          M3A        North York              Parkwoods\n
3          M4A        North York       Victoria Village\n
4          M5A  Downtown Toronto           Harbourfront\n
..         ...               ...                      ...
282        M8Z         Etobicoke              Mimico NW\n
283        M8Z         Etobicoke     The Queensway West\n
284        M8Z         Etobicoke  Royal York South West\n
285        M8Z         Etobicoke         South of Bloor\n
286        M9Z      Not assigned           Not assigned\n

[287 rows x 3 columns]

In [5]:
for data in range(len(neighborhoods)):
    code = postalCodes[data]
    borough = boroughs[data]
    neighborhood_name = neighborhoods[data]

    neighbors = neighbors.append({ 'PostalCode': code,
                                   'Borough': borough,
                                   'Neighborhood': neighborhood_name}, ignore_index=True)

NameError: name 'neighborhoods' is not defined

In [ ]:
indexs = toronto_df[toronto_df['Borough']=="Not assigned"].index
indexs

In [ ]:
toronto_df.drop(toronto_df.index[indexs], inplace=True)

In [ ]:
toronto_df['Neighborhood'] = toronto_df.Neighborhood.str.replace("\n","")
toronto_df = toronto_df.reset_index(drop=True)
toronto_df

In [ ]:
indexs_nb = toronto_df[toronto_df['Neighborhood']=="Not assigned"].index
indexs_nb

In [6]:
for i in range(210):
    if toronto_df.Neighborhood[i]=='Not assigned':
        toronto_df.Neighborhood[i] = toronto_df.Borough[i]

In [7]:
toronto_df_Final = toronto_df.groupby(['Postalcode','Borough'])['Neighborhood'].apply(','.join).reset_index()
toronto_df_Final.shape

(180, 3)

In [8]:
toronto_df_Final

,Postalcode,Borough,Neighborhood
0,M1A,Not assigned,Not assigned\n
1,M1B,Scarborough,"Rouge\n,Malvern\n"
2,M1C,Scarborough,"Highland Creek\n,Rouge Hill\n,Port Union\n"
3,M1E,Scarborough,"Guildwood\n,Morningside\n,West Hill\n"
4,M1G,Scarborough,Woburn\n
...,...,...,...
175,M9V,Etobicoke,"Albion Gardens\n,Beaumond Heights\n,Humbergate..."
176,M9W,Etobicoke,Northwest\n
177,M9X,Not assigned,Not assigned\n
178,M9Y,Not assigned,Not assigned\n
179,M9Z,Not assigned,Not assigned\n

In [9]:
geo_data_df = pd.read_csv('https://cocl.us/Geospatial_data')
geo_data_df

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [10]:
merged_df = pd.merge(toronto_df_Final, geo_data_df,left_on='Postalcode',right_on='Postal Code',how='left').drop('Postal Code', axis=1)
merged_df

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M1A,Not assigned,Not assigned\n,NaN,NaN
1,M1B,Scarborough,"Rouge\n,Malvern\n",43.806686,-79.194353
2,M1C,Scarborough,"Highland Creek\n,Rouge Hill\n,Port Union\n",43.784535,-79.160497
3,M1E,Scarborough,"Guildwood\n,Morningside\n,West Hill\n",43.763573,-79.188711
4,M1G,Scarborough,Woburn\n,43.770992,-79.216917
...,...,...,...,...,...
175,M9V,Etobicoke,"Albion Gardens\n,Beaumond Heights\n,Humbergate...",43.739416,-79.588437
176,M9W,Etobicoke,Northwest\n,43.706748,-79.594054
177,M9X,Not assigned,Not assigned\n,NaN,NaN
178,M9Y,Not assigned,Not assigned\n,NaN,NaN
179,M9Z,Not assigned,Not assigned\n,NaN,NaN